.botonesTarjeta {
    display: flex;
    justify-content: space-between;
    width: 10%;
}

.botonesTarjeta button {
    height: 100%;
    width: 25%;
    margin-top: 15px;
}

.botonAgregar {
    margin-left: 35px;
}